.cover {
  max-width: 100%;
  
  display: block;
  position: relative;
  background-image: url(../../sprint-3-images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}


