.footer__list {
    width: 100%;
    display: flex;
    flex-direction: row;
  
    align-items: flex-start;
    padding: 0;
    margin: 0;
    gap: 18px;
    list-style: none;
  }
  @media screen and (max-width: 767px) {
    .footer__list {
      flex-direction: column;
      gap: 32px;
    }
  }