body {
  min-width: 1280px;
  background: #2a2c2f;
  color: white;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  width: calc(100% - 48px * 2);
  height: 52px;
  margin: 28px auto;
  border: 1px solid red;
}
.header__logo {
  background-image: url(../sprint-3-images/header-logo.svg);
  background-size: contain;
  border: 1px solid red;
  width: 176px;
  height: 52px;
}

.header__lang {
  gap: 18px;
  display: flex;
  font-size: 24px;
  line-height: 28px;
  right: 48px;
  position: absolute;
  margin: 18px auto 6px;
}

.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: white;
  border: 1px solid red;
}

.lead {
  width: 984px;
  min-height: 1005px;
  margin: 56px 148px 0px;
}

.lead__title {
  text-align: center;
  margin: auto;
  margin-bottom: 32px;
  width: 720px;
  line-height: 1.2;
  font-size: 96px;
  font-weight: 900;
  font-style: normal;
}

.lead__subtitle {
  text-align: center;
  margin: auto;
  margin-bottom: 64px;
  width: 640px;
  line-height: 1.2;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
}

.lead__image {
  width: 984px;
  height: 615px;
  line-height: 1.6;
  object-fit: contain;
  margin-bottom: 8px;
}

.lead__caption {
  margin: 0;
  width: 158px;
  font-size: 10px;
  line-height: 1.4;
  font-weight: 400;
  font-style: normal;
}
