body {
  max-width: 1280px;
  background: #2a2c2f;
  color: white;
  margin: 0 auto;
  font-family: 'Inter',Arial,sans-serif;
}

.header {
  display: flex;
  width: calc(100% - 48px * 2);
  height: 52px;
  margin: 28px 48px 0px;
  border: 1px solid red;
}
.header__logo {
  background-image: url(../sprint-3-images/header-logo.svg);
  background-size: contain;
  border: 1px solid red;
  width: 176px;
  height: 52px;
}

.header__lang {
  gap: 18px;
  display: flex;
  font-size: 24px;
  line-height: 28px;
  right: 48px;
  position: absolute;
  margin: 18px auto 6px;
}

.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: white;
  border: 1px solid red;
}

.lead {
  width: 984px;
  height: 1005px;
  margin: 56px 148px 0px;
  border: 1px solid red;
}

.lead__title {
  text-align: center;
  margin: auto;
  margin-bottom: auto;
  margin-bottom: 32px;
  width: 720px;
  line-height: 100px;
  font-size: 96px;
  font-weight: 900;
  font-style: normal;
}

.lead__subtitle {
  text-align: center;
  margin: auto;
  margin-bottom: 64px;
  width: 640px;
  line-height: 1.2;
  font-size: 30px;
  font-style: normal;
}

.lead__image {
  width: 984px;
  height: 615px;
  line-height: 1.6;
  object-fit: contain;
  margin: 0;
}

.lead__caption {
  margin: 8px 0px auto;
  width: 158px;
  font-size: 10px;
  line-height: 1.4;
  font-weight: 400;
  font-style: normal;
}

.intro {
  display: flex;
  position: relative;
  width: 690px;
  min-height: 429px;
  margin: 92px 148px;
  border: 1px solid red;
}

.intro__title {
  font-size: 54px;
  line-height: 1;
  border: 1px solid red;
  margin: 0 auto;
  position: absolute;
  font-style: normal;
  height: 58px;
  min-width: 690px;
}

.intro__text {
  text-align: start;
  width: 690px;
  height: 208px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  border: 1px solid red;
  position: absolute;
  top: 98px;
  margin: 0;
}

.intro__list {
  width: 690px;
  height: 90px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: absolute;
  list-style: none;
  top: 339px;
}

.photo__grid {
  width: 1184px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 92px 48px;
  border: 1px solid red;
}

.photo-grid__item {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid red;
}

.places {
  
  max-width: 984px;
  margin: 0px 148px 92px;
  border: 1px solid palegoldenrod;
}

.places__card-list {
  display: grid;
  margin-top: 0;
  list-style: none;
  row-gap: 80px;
  padding-left: 0px;
  border: 1px solid green;
}

.places__item {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-areas:
                     "title website"
                    "image paragraph";
  grid-gap: 48px 40px;
  
  border: 1px solid purple;
}

.place__title {
  grid-area: title;
  
  
  
  margin-top: 0;
  margin-bottom: 0;
  
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.1;
  
  border: 1px solid rgb(139, 114, 180);
}

.place__image {
  grid-area: image;
  display: block;
  width: 460px;
  height: 460px;
  object-fit: cover;
  box-sizing: border-box;
  border: 1px solid blue;
}

.place__website {
  grid-area: website;
  display: flex;
  flex-direction: column;
  
  justify-content: flex-end;
  border: 1px solid rgb(248, 219, 219);
}

.place__url-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 12px;
  line-height: 100%;
  color: gray;
  border: 1px solid orange;
}

.place__link {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.2;
  text-decoration-line: underline;
  margin-top: 12px;
  color: white;
  border: 1px solid red;
}

.block__paragraph {
  grid-area: paragraph;
}

.place__paragraph {
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 26px;
  border: 1px solid greenyellow;
}

.cover{
  max-width: 1184px;
  margin: 0 auto;
  border: 1px solid red;
}

.cover__background-image{
  
  min-width: 1184px;
height: 740px;
object-fit: cover;
top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
border:1px solid orange
}

.cover__overlay{
  z-index: 3;
}

.cover__overlay:before{

}

.cover__overlay:hover:before{

}

.cover__title{
  object-position: center;
  margin: 0 0 32px;
  font-family: 'Inter',Arial,sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1;
  align-items: center;
  text-align: center;
z-index: 2;
}

.cover__subtitle{
z-index: 2;
}